In [3]:
import numpy as np

countries = np.array(['A','B','C','D','E','F','G','H'])

employment = np.array([45.7,56.2,70.9,32.5,67.9,98.6,21.5,44.8])

#to find max employment and country

def get_max_employment_country(countries,employment):
    i = np.argmax(employment)
    return(countries[i],employment[i])

max_country,max_employment = get_max_employment_country(countries,employment)
print(max_country,max_employment)

F 98.6

In [4]:
female_completion = np.array([34.1,55.6,78.3,62.5,98.2,22.4,45.7,67.1])
male_completion = np.array([34.6,53.6,38.3,72.5,48.2,62.4,85.7,97.1])

#taking overall completion rate for country

overall_completion = (female_completion + male_completion)/2
overall_completion

array([34.35, 54.6 , 58.3 , 67.5 , 73.2 , 42.4 , 65.7 , 82.1 ])

In [2]:
from pandas import DataFrame,Series

In [3]:
import pandas as pd
import json

In [5]:
records = [json.loads(line) for line in open("example.txt")]

In [6]:
records[0]

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'c': 'US',
 'nk': 1,
 'tz': 'America/New_York',
 'gr': 'MA',
 'g': 'A6qOVH',
 'h': 'wfLQtf',
 'l': 'orofrog',
 'al': 'en-US,en;q=0.8',
 'hh': '1.usa.gov',
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
 't': 1331923247,
 'hc': 1331822918,
 'cy': 'Danvers',
 'll': [42.576698, -70.954903]}

In [11]:
time_zones = [ rec['tz'] for rec in records if 'tz' in rec]

In [12]:
time_zones[:10]

['America/New_York',
 'America/Denver',
 'America/New_York',
 'America/Sao_Paulo',
 'America/New_York',
 'America/New_York',
 'Europe/Warsaw',
 '',
 '',
 '']

In [13]:
from collections import Counter

In [14]:
count = Counter(time_zones)

In [16]:
count.most_common(10)

[('America/New_York', 1251),
 ('', 521),
 ('America/Chicago', 400),
 ('America/Los_Angeles', 382),
 ('America/Denver', 191),
 ('Europe/London', 74),
 ('Asia/Tokyo', 37),
 ('Pacific/Honolulu', 36),
 ('Europe/Madrid', 35),
 ('America/Sao_Paulo', 33)]

In [17]:
frame = DataFrame(records)

In [18]:
frame

,_heartbeat_,a,al,c,cy,g,gr,h,hc,hh,kw,l,ll,nk,r,t,tz,u
0,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Danvers,A6qOVH,MA,wfLQtf,1.331823e+09,1.usa.gov,NaN,orofrog,"[42.576698, -70.954903]",1.0,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,1.331923e+09,America/New_York,http://www.ncbi.nlm.nih.gov/pubmed/22415991
1,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1.308262e+09,j.mp,NaN,bitly,"[40.218102, -111.613297]",0.0,http://www.AwareMap.com/,1.331923e+09,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
2,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-US,US,Washington,xxr3Qb,DC,xxr3Qb,1.331920e+09,1.usa.gov,NaN,bitly,"[38.9007, -77.043098]",1.0,http://t.co/03elZC4Q,1.331923e+09,America/New_York,http://boxer.senate.gov/en/press/releases/0316...
3,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,pt-br,BR,Braz,zCaLwp,27,zUtuOu,1.331923e+09,1.usa.gov,NaN,alelex88,"[-23.549999, -46.616699]",0.0,direct,1.331923e+09,America/Sao_Paulo,http://apod.nasa.gov/apod/ap120312.html
4,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Shrewsbury,9b6kNl,MA,9b6kNl,1.273672e+09,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0.0,http://www.shrewsbury-ma.gov/selco/,1.331923e+09,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
5,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Shrewsbury,axNK8c,MA,axNK8c,1.273673e+09,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0.0,http://www.shrewsbury-ma.gov/selco/,1.331923e+09,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
6,NaN,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,"pl-PL,pl;q=0.8,en-US;q=0.6,en;q=0.4",PL,Luban,wcndER,77,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,"[51.116699, 15.2833]",0.0,http://plus.url.google.com/url?sa=z&n=13319232...,1.331923e+09,Europe/Warsaw,http://www.nasa.gov/mission_pages/nustar/main/...
7,NaN,Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/2...,"bg,en-us;q=0.7,en;q=0.3",None,NaN,wcndER,NaN,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,NaN,0.0,http://www.facebook.com/,1.331923e+09,,http://www.nasa.gov/mission_pages/nustar/main/...
8,NaN,Opera/9.80 (X11; Linux zbov; U; en) Presto/2.1...,"en-US, en",None,NaN,wcndER,NaN,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,NaN,0.0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1.331923e+09,,http://www.nasa.gov/mission_pages/nustar/main/...
9,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"pt-BR,pt;q=0.8,en-US;q=0.6,en;q=0.4",None,NaN,zCaLwp,NaN,zUtuOu,1.331923e+09,1.usa.gov,NaN,alelex88,NaN,0.0,http://t.co/o1Pd0WeV,1.331923e+09,,http://apod.nasa.gov/apod/ap120312.html
10,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Seattle,vNJS4H,WA,u0uD9q,1.319564e+09,1.usa.gov,NaN,o_4us71ccioa,"[47.5951, -122.332603]",1.0,direct,1.331923e+09,America/Los_Angeles,https://www.nysdot.gov/rexdesign/design/commun...
11,NaN,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.4...,"en-us,en;q=0.5",US,Washington,wG7OIH,DC,A0nRz4,1.331816e+09,1.usa.gov,NaN,darrellissa,"[38.937599, -77.092796]",0.0,http://t.co/ND7SoPyo,1.331923e+09,America/New_York,http://oversight.house.gov/wp-content/uploads/...
12,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Alexandria,vNJS4H,VA,u0uD9q,1.319564e+09,1.usa.gov,NaN,o_4us71ccioa,"[38.790901, -77.094704]",1.0,direct,1.331923e+09,America/New_York,https://www.nysdot.gov/rexdesign/design/commun...
13,1.331923e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US...,"en-us,en;q=0.5",US,Marietta,2rOUYc,GA,2rOUYc,1.255770e+09,1.usa.gov,NaN,bitly,"[33.953201, -84.5177]",1.0,direct,1.331923e+09,America/New_York,http://toxtown.nlm.nih.gov/index.php
15,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"zh-TW,zh;q=0.8,en-US;q=0.6,en;q=0.4",HK,Central District,nQvgJp,00,rtrrth,1.317318e+09,j.mp,NaN,walkeryuen,"[22.2833, 114.150002]",1.0,http://forum2.hkgolden.com/view.aspx?type=BW&m...,1.331923e+09,Asia/Hong_Kong,http://www.ssd.noaa.gov/PS/TROP/TCFP/data/curr...
16,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"zh-TW,zh;q=0.8,en-US;q=0.6,en;q=0.4",HK,Central District,XdUNr,00,qWkgbq,1.317318e+09,j.mp,NaN,walkeryuen,"[22.2833, 114.150002]",1.0,http://forum2.hkgolden.com/view.aspx?type=BW&m...,1.331923e+09,Asia/Hong_Kong,http://www.usno.navy.mil/NOOC/nmfc-ph/RSS/jtwc...
17,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.5; r...,"en-us,en;q=0.5",US,Buckfield,zH1BFf,ME,x3jOIv,1.331840e+09,1.usa.gov,NaN,andyzieminski,"[44.299702, -70.369797]",0.0,http://t.co/6Cx4ROLs,1.331923e+09,America/New_York,http://www.usda.gov/wps/portal/usda/usdahome?c...
18,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1.308262e+09,1.usa.gov,NaN,bitly,"[40.218102, -111.613297]",0.0,http://www.AwareMap.com/,1.331923e+09,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
19,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"it-IT,it;q=0.8,en-US;q=0.6,en;q=0.4",IT,Venice,wcndER,20,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,"[45.438599, 12.3267]",0.0,http://www.facebook.com/,1.331923e+09,Europe/Rome,http://www.nasa.gov/mission_pages/nustar/main/...
20,NaN,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,es-ES,ES,Alcal,zQ95Hi,51,ytZYWR,1.331671e+09,bitly.com,NaN,jplnews,"[37.516701, -5.9833]",0.0,http://www.facebook.com/,1.331923e+09,Africa/Ceuta,http://voyager.jpl.nasa.gov/imagesvideo/uranus...
21,NaN,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.6...,"en-us,en;q=0.5",US,Davidsonville,wcndER,MD,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,"[38.939201, -76.635002]",0.0,http://www.facebook.com/,1.331923e+09,America/New_York,http://www.nasa.gov/mission_pages/nustar/main/...
22,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-us,US,Hockessin,y3ZImz,DE,y3ZImz,1.331064e+09,1.usa.gov,NaN,bitly,"[39.785, -75.682297]",0.0,direct,1.331923e+09,America/New_York,http://portal.hud.gov/hudportal/documents/hudd...
23,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_3)...,en-us,US,Lititz,wWiOiD,PA,wWiOiD,1.330218e+09,1.usa.gov,NaN,bitly,"[40.174999, -76.3078]",0.0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1.331923e+09,America/New_York,http://www.tricare.mil/mybenefit/ProfileFilter...
24,NaN,Mozilla/5.0 (Windows; U; Windows NT 5.1; es-ES...,"es-es,es;q=0.8,en-us;q=0.5,en;q=0.3",ES,Bilbao,wcndER,59,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,"[43.25, -2.9667]",0.0,http://www.facebook.com/,1.331923e+09,Europe/Madrid,http://www.nasa.gov/mission_pages/nustar/main/...
25,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"en-GB,en;q=0.8,en-US;q=0.6,en-AU;q=0.4",MY,Kuala Lumpur,wcndER,14,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,"[3.1667, 101.699997]",0.0,http://www.facebook.com/,1.331923e+09,Asia/Kuala_Lumpur,http://www.nasa.gov/mission_pages/nustar/main/...
26,NaN,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/535.1...,"ro-RO,ro;q=0.8,en-US;q=0.6,en;q=0.4",CY,Nicosia,wcndER,04,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,"[35.166698, 33.366699]",0.0,http://www.facebook.com/?ref=tn_tnmn,1.331923e+09,Asia/Nicosia,http://www.nasa.gov/mission_pages/nustar/main/...
27,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,"en-US,en;q=0.8",BR,SPaulo,zCaLwp,27,zUtuOu,1.331923e+09,1.usa.gov,NaN,alelex88,"[-23.5333, -46.616699]",0.0,direct,1.331923e+09,America/Sao_Paulo,http://apod.nasa.gov/apod/ap120312.html
28,NaN,Mozilla/5.0 (iPad; CPU OS 5_0_1 like Mac OS X)...,en-us,None,NaN,vNJS4H,NaN,u0uD9q,1.319564e+09,1.usa.gov,NaN,o_4us71ccioa,NaN,0.0,direct,1.331923e+09,,https://www.nysdot.gov/rexdesign/design/commun...
29,NaN,Mozilla/5.0 (iPad; U; CPU OS 3_2 like Mac OS X...,en-us,None,NaN,FPX0IM,NaN,FPX0IL,1.331923e+09,1.usa.gov,NaN,twittershare,NaN,1.0,http://t.co/5xlp0B34,1.331923e+09,,http://www.ed.gov/news/media-advisories/us-dep...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3530,NaN,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/535.1...,"en-US,en;q=0.8",US,San Francisco,xVZg4P,CA,wqUkTo,1.331908e+09,go.nasa.gov,NaN,nasatwitter,"[37.7645, -122.429398]",0.0,http://www.facebook.com/l.php?u=http%3A%2F%2Fg...,1.331927e+09,America/Los_Angeles,http://www.nasa.gov/multimedia/imagegallery/im...
3531,NaN,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6...,en-US,None,NaN,wcndER,NaN,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,NaN,0.0,direct,1.331927e+09,,http://www.nasa.gov/mission_pages/nustar/main/...
3532,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Washington,Au3aUS,DC,A9ct6C,1.331926e+09,1.usa.gov,NaN,ncsha,"[38.904202, -77.031998]",1.0,http://www.ncsha.org/,1.331927e+09,America/New_York,http://portal.hud.gov/hudportal/HUD?src=/press...
3533,NaN,Mozilla/5.0 (iPad; CPU OS 5_1 like Mac OS X) A...,en-us,US,Jacksonville,b2UtUJ,FL,ieCdgH,1.301393e+09,go.nasa.gov,NaN,nasatwitter,"[30.279301, -81.585098]",1.0,direct,1.331927e+09,America/New_York,http://apod.nasa.gov/apod/
3534,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,en-us,US,Frisco,vNJS4H,TX,u0uD9q,1.319564e+09,1.usa.gov,NaN,o_4us71ccioa,"[33.149899, -96.855499]",1.0,direct,1.331927e+09,America/Chicago,https://www.nysdot.gov/rexdesign/design/commun...
3535,NaN,Mozilla/5.0 (Windows NT 5.1; rv:10.0.2) Gecko/...,en-us,US,Houston,zIgLx8,TX,yrPaLt,1.331903e+09,aash.to,NaN,aashto,"[29.775499, -95.415199]",1.0,direct,1.331927e+09,America/Chicago,http://ntl.bts.gov/lib/44000/44300/44374/FHWA-...
3536,NaN,Mozilla/5.0 (BlackBerry; U; BlackBerry 9800; e...,"en-US,en;q=0.5",None,NaN,xIcyim,NaN,yG1TTf,1.331728e+09,go.nasa.gov,NaN,nasatwitter,NaN,0.0,http://t.co/g1VKE8zS,1.331927e+09,,http://www.nasa.gov/mission_pages/hurricanes/a...
3537,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"es-es,es;q=0.8,en-us;q=0.5,en;q=0.3",HN,Tegucigalpa,zCaLwp,08,w63FZW,1.331547e+09,1.usa.gov,NaN,bufferapp,"[14.1, -87.216698]",0.0,http://t.co/A8TJyibE,1.331927e+09,America/Tegucigalpa,http://apod.nasa.gov/apod/ap120312.html
3538,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Ma...,en-us,US,Los Angeles,qMac9k,CA,qds1Ge,1.310474e+09,1.usa.gov,NaN,healthypeople,"[34.041599, -118.298798]",0.0,direct,1.331927e+09,America/Los_Angeles,http://healthypeople.gov/2020/connect/webinars...
3539,NaN,Mozilla/5.0 (compatible; Fedora Core 3) FC3 KDE,NaN,US,Bellevue,zu2M5o,WA,zDhdro,1.331586e+09,bit.ly,NaN,glimtwin,"[47.615398, -122.210297]",0.0,direct,1.331927e+09,America/Los_Angeles,http://www.federalreserve.gov/newsevents/press...
3540,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",US,Payson,wcndER,UT,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,"[40.014198, -111.738899]",0.0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1.331927e+09,America/Denver,http://www.nasa.gov/mission_pages/nustar/main/...
3541,NaN,Mozilla/5.0 (X11; U; OpenVMS AlphaServer_ES40;...,NaN,US,Bellevue,zu2M5o,WA,zDhdro,1.331586e+09,1.usa.gov,NaN,glimtwin,"[47.615398, -122.210297]",0.0,direct,1.331927e+09,America/Los_Angeles,http://www.federalreserve.gov/newsevents/press...
3542,NaN,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,en-us,US,Pittsburg,y3reI1,CA,y3reI1,1.331926e+09,1.usa.gov,NaN,bitly,"[38.0051, -121.838699]",0.0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1.331927e+09,America/Los_Angeles,http://www.sba.gov/community/blogs/community-b...
3543,1.331927e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3544,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:5.0.1) ...,"en-us,en;q=0.5",US,Wentzville,vNJS4H,MO,u0uD9q,1.319564e+09,1.usa.gov,NaN,o_4us71ccioa,"[38.790001, -90.854897]",1.0,direct,1.331927e+09,America/Chicago,https://www.nysdot.gov/rexdesign/design/commun...
3545,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,"en-us,en;q=0.5",US,Saint Charles,vNJS4H,IL,u0uD9q,1.319564e+09,1.usa.gov,NaN,o_4us71ccioa,"[41.9352, -88.290901]",1.0,direct,1.331927e+09,America/Chicago,https://www.nysdot.gov/rexdesign/design/commun...
3546,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Ma...,en-us,US,Los Angeles,qMac9k,CA,qds1Ge,1.310474e+09,1.usa.gov,NaN,healthypeople,"[34.041599, -118.298798]",1.0,direct,1.331927e+09,America/Los_Angeles,http://healthypeople.gov/2020/connect/webinars...
3547,NaN,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,en-us,US,Silver Spring,y0jYkg,MD,y0jYkg,1.331852e+09,1.usa.gov,NaN,bitly,"[39.052101, -77.014999]",1.0,direct,1.331927e+09,America/New_York,http://www.epa.gov/otaq/regs/fuels/additive/e1...
3548,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 5_1 like Ma...,en-us,US,Mcgehee,y5rMac,AR,xANY6O,1.331916e+09,1.usa.gov,NaN,twitterfeed,"[33.628399, -91.356903]",1.0,https://twitter.com/fdarecalls/status/18069759...,1.331927e+09,America/Chicago,http://www.fda.gov/Safety/Recalls/ucm296326.htm
3549,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"sv-SE,sv;q=0.8,en-US;q=0.6,en;q=0.4",SE,Sollefte,eH8wu,24,7dtjei,1.260316e+09,1.usa.gov,NaN,tweetdeckapi,"[63.166698, 17.266701]",1.0,direct,1.331927e+09,Europe/Stockholm,http://www.nasa.gov/mission_pages/WISE/main/in...
3550,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-us,US,Conshohocken,A00b72,PA,yGSwzn,1.331918e+09,1.usa.gov,NaN,addthis,"[40.0798, -75.2855]",0.0,http://www.linkedin.com/home?trk=hb_tab_home_top,1.331927e+09,America/New_York,http://www.nlm.nih.gov/medlineplus/news/fullst...
3551,NaN,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"en-US,en;q=0.8",None,NaN,wcndER,NaN,zkpJBR,1.331923e+09,1.usa.gov,NaN,bnjacobs,NaN,0.0,http://plus.url.google.com/url?sa=z&n=13319268...,1.331927e+09,,http://www.nasa.gov/mission_pages/nustar/main/...
3552,NaN,Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US...,NaN,US,Decatur,rqgJuE,AL,xcz8vt,1.331227e+09,1.usa.gov,NaN,bootsnall,"[34.572701, -86.940598]",0.0,direct,1.331927e+09,America/Chicago,http://travel.state.gov/passport/passport_5535...
3553,NaN,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,en-us,US,Shrewsbury,9b6kNl,MA,9b6kNl,1.273672e+09,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0.0,http://www.shrewsbury-ma.gov/selco/,1.331927e+09,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
3554,NaN,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,en-us,US,Shrewsbury,axNK8c,MA,axNK8c,1.273673e+09,bit.ly,NaN,bitly,"[42.286499, -71.714699]",0.0,http://www.shrewsbury-ma.gov/selco/,1.331927e+09,America/New_York,http://www.shrewsbury-ma.gov/egov/gallery/1341...
3555,NaN,Mozilla/4.0 (compatible; MSIE 9.0; Windows NT ...,en,US,Paramus,e5SvKE,NJ,fqPSr9,1.301298e+09,1.usa.gov,NaN,tweetdeckapi,"[40.9445, -74.07]",1.0,direct,1.331927e+09,America/New_York,http://www.fda.gov/AdvisoryCommittees/Committe...
3556,NaN,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,"en-US,en;q=0.8",US,Oklahoma City,jQLtP4,OK,jQLtP4,1.307530e+09,1.usa.gov,NaN,bitly,"[35.4715, -97.518997]",0.0,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,1.331927e+09,America/Chicago,http://www.okc.gov/PublicNotificationSystem/Fo...
3557,NaN,GoogleMaps/RochesterNY,NaN,US,Provo,mwszkS,UT,mwszkS,1.308262e+09,j.mp,NaN,bitly,"[40.218102, -111.613297]",0.0,http://www.AwareMap.com/,1.331927e+09,America/Denver,http://www.monroecounty.gov/etc/911/rss.php
3558,NaN,GoogleProducer,NaN,US,Mountain View,zjtI4X,CA,zjtI4X,1.327529e+09,1.usa.gov,NaN,bitly,"[37.419201, -122.057404]",0.0,direct,1.331927e+09,America/Los_Angeles,http://www.ahrq.gov/qual/qitoolkit/
3559,NaN,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,en-US,US,Mc Lean,qxKrTK,VA,qxKrTK,1.312898e+09,1.usa.gov,NaN,bitly,"[38.935799, -77.162102]",0.0,http://t.co/OEEEvwjU,1.331927e+09,America/New_York,http://herndon-va.gov/Content/public_safety/Pu...

In [19]:
val_cnt = frame['tz'].value_counts()
val_cnt

America/New_York                  1251
                                   521
America/Chicago                    400
America/Los_Angeles                382
America/Denver                     191
Europe/London                       74
Asia/Tokyo                          37
Pacific/Honolulu                    36
Europe/Madrid                       35
America/Sao_Paulo                   33
Europe/Berlin                       28
Europe/Rome                         27
America/Rainy_River                 25
Europe/Amsterdam                    22
America/Indianapolis                20
America/Phoenix                     20
Europe/Warsaw                       16
America/Mexico_City                 15
Europe/Paris                        14
Europe/Stockholm                    14
America/Vancouver                   12
Pacific/Auckland                    11
America/Puerto_Rico                 10
Europe/Moscow                       10
Europe/Prague                       10
Asia/Hong_Kong                      10
Europe/Oslo                         10
Europe/Helsinki                     10
America/Montreal                     9
Asia/Calcutta                        9
                                  ...
Europe/Malta                         2
America/Montevideo                   1
Asia/Nicosia                         1
Asia/Kuching                         1
Asia/Pontianak                       1
America/Santo_Domingo                1
Europe/Sofia                         1
America/Costa_Rica                   1
America/Tegucigalpa                  1
America/St_Kitts                     1
Africa/Casablanca                    1
Asia/Riyadh                          1
America/Argentina/Buenos_Aires       1
America/Lima                         1
America/Argentina/Mendoza            1
America/Caracas                      1
Asia/Yekaterinburg                   1
Europe/Ljubljana                     1
America/Monterrey                    1
America/Mazatlan                     1
Asia/Manila                          1
Australia/Queensland                 1
Asia/Novosibirsk                     1
Europe/Uzhgorod                      1
Africa/Johannesburg                  1
Africa/Lusaka                        1
America/La_Paz                       1
Europe/Volgograd                     1
Europe/Skopje                        1
America/Argentina/Cordoba            1
Name: tz, Length: 97, dtype: int64

In [20]:
time_zone = frame['tz'].fillna('Missing')

In [21]:
time_zone

0          America/New_York
1            America/Denver
2          America/New_York
3         America/Sao_Paulo
4          America/New_York
5          America/New_York
6             Europe/Warsaw
7
8
9
10      America/Los_Angeles
11         America/New_York
12         America/New_York
13                  Missing
14         America/New_York
15           Asia/Hong_Kong
16           Asia/Hong_Kong
17         America/New_York
18           America/Denver
19              Europe/Rome
20             Africa/Ceuta
21         America/New_York
22         America/New_York
23         America/New_York
24            Europe/Madrid
25        Asia/Kuala_Lumpur
26             Asia/Nicosia
27        America/Sao_Paulo
28
29
               ...
3530    America/Los_Angeles
3531
3532       America/New_York
3533       America/New_York
3534        America/Chicago
3535        America/Chicago
3536
3537    America/Tegucigalpa
3538    America/Los_Angeles
3539    America/Los_Angeles
3540         America/Denver
3541    America/Los_Angeles
3542    America/Los_Angeles
3543                Missing
3544        America/Chicago
3545        America/Chicago
3546    America/Los_Angeles
3547       America/New_York
3548        America/Chicago
3549       Europe/Stockholm
3550       America/New_York
3551
3552        America/Chicago
3553       America/New_York
3554       America/New_York
3555       America/New_York
3556        America/Chicago
3557         America/Denver
3558    America/Los_Angeles
3559       America/New_York
Name: tz, Length: 3560, dtype: object

In [23]:
time_zone[time_zone==''] = 'Unknown'

In [27]:
tz_counts = time_zone.value_counts()

In [28]:
tz_counts[:10].plot(kind='barh',rot=0)

In [31]:
frame['a'][:10]

0    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
1                               GoogleMaps/RochesterNY
2    Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...
3    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...
4    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
5    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
6    Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...
7    Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/2...
8    Opera/9.80 (X11; Linux zbov; U; en) Presto/2.1...
9    Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
Name: a, dtype: object

In [32]:
cframe = frame[frame.a.notnull()]

In [35]:
import numpy as np
operating_systems = np.where(cframe['a'].str.contains('Windows'),'Windows','Not Windows')

In [36]:
operating_systems

array(['Windows', 'Not Windows', 'Windows', ..., 'Not Windows',
       'Not Windows', 'Windows'], dtype='<U11')

In [39]:
by_ts_os = cframe.groupby(['tz',operating_systems])

In [40]:
by_ts_os

In [42]:
agg_counts = by_ts_os.size().unstack().fillna(0)

In [43]:
agg_counts

                                Not Windows  Windows
tz
                                      245.0    276.0
Africa/Cairo                            0.0      3.0
Africa/Casablanca                       0.0      1.0
Africa/Ceuta                            0.0      2.0
Africa/Johannesburg                     0.0      1.0
Africa/Lusaka                           0.0      1.0
America/Anchorage                       4.0      1.0
America/Argentina/Buenos_Aires          1.0      0.0
America/Argentina/Cordoba               0.0      1.0
America/Argentina/Mendoza               0.0      1.0
America/Bogota                          1.0      2.0
America/Caracas                         0.0      1.0
America/Chicago                       115.0    285.0
America/Chihuahua                       1.0      1.0
America/Costa_Rica                      0.0      1.0
America/Denver                        132.0     59.0
America/Edmonton                        2.0      4.0
America/Guayaquil                       2.0      0.0
America/Halifax                         1.0      3.0
America/Indianapolis                    8.0     12.0
America/La_Paz                          0.0      1.0
America/Lima                            0.0      1.0
America/Los_Angeles                   130.0    252.0
America/Managua                         0.0      3.0
America/Mazatlan                        1.0      0.0
America/Mexico_City                     7.0      8.0
America/Monterrey                       1.0      0.0
America/Montevideo                      0.0      1.0
America/Montreal                        3.0      6.0
America/New_York                      339.0    912.0
...                                     ...      ...
Europe/Berlin                           9.0     19.0
Europe/Bratislava                       1.0      2.0
Europe/Brussels                         1.0      3.0
Europe/Bucharest                        1.0      3.0
Europe/Budapest                         0.0      5.0
Europe/Copenhagen                       2.0      3.0
Europe/Dublin                           1.0      2.0
Europe/Helsinki                         2.0      8.0
Europe/Lisbon                           1.0      7.0
Europe/Ljubljana                        0.0      1.0
Europe/London                          43.0     31.0
Europe/Madrid                          16.0     19.0
Europe/Malta                            0.0      2.0
Europe/Moscow                           1.0      9.0
Europe/Oslo                             2.0      8.0
Europe/Paris                            4.0     10.0
Europe/Prague                           3.0      7.0
Europe/Riga                             1.0      1.0
Europe/Rome                             8.0     19.0
Europe/Skopje                           0.0      1.0
Europe/Sofia                            0.0      1.0
Europe/Stockholm                        2.0     12.0
Europe/Uzhgorod                         0.0      1.0
Europe/Vienna                           3.0      3.0
Europe/Vilnius                          0.0      2.0
Europe/Volgograd                        0.0      1.0
Europe/Warsaw                           1.0     15.0
Europe/Zurich                           4.0      0.0
Pacific/Auckland                        3.0      8.0
Pacific/Honolulu                        0.0     36.0

[97 rows x 2 columns]

In [53]:
col_names = ['Name','Sex','Births']
f = pd.read_csv('yob1880.txt',names=col_names)

In [55]:
f[:10]

        Name Sex  Births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746
5   Margaret   F    1578
6        Ida   F    1472
7      Alice   F    1414
8     Bertha   F    1320
9      Sarah   F    1288

In [59]:
f.groupby('Sex').Births.sum()

Sex
F     90993
M    110493
Name: Births, dtype: int64

In [60]:
a = np.zeros(10)
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [61]:
b = np.ones(10)
b

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [62]:
c = np.empty((2,3,2))
c

array([[[0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000]],

       [[0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 1.17522778e+214]]])

In [63]:
d = np.arange(15)
d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [67]:
e = (1,2,3,4)
f = np.asarray(e)
f

array([1, 2, 3, 4])

In [68]:
g = np.ones_like(e)
g

array([1, 1, 1, 1])

In [71]:
arr1 = np.array([1,2,3],dtype=np.float64)
arr1

array([1., 2., 3.])

In [72]:
arr1 = np.array([1,2,3],dtype=np.int32)
arr1

array([1, 2, 3], dtype=int32)

In [73]:
float_arr = arr1.astype(np.float64)
float_arr

array([1., 2., 3.])

In [75]:
a = np.array([[1,2,3],[4,5,6]])
a * a

array([[ 1,  4,  9],
       [16, 25, 36]])

In [76]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [77]:
arr2d[:2][:]

array([[1, 2, 3],
       [4, 5, 6]])

In [78]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [92]:
from numpy.random import randn
data = randn(7, 4)

In [83]:
data

array([[ 0.99153224, -0.2411551 ,  0.39924962, -0.99965861],
       [ 1.68575798, -0.67569912,  0.02889007,  0.76738099],
       [ 0.14377199, -0.42710079, -0.29921063,  0.78525654],
       [-1.11554337,  2.6642927 ,  1.6058912 , -0.92214913],
       [ 1.14613001, -0.8966526 ,  0.08582616, -0.02281212],
       [ 1.18201849, -0.26336944, -0.64049472, -0.54274644],
       [-1.47980697, -0.90838284, -0.15504681,  0.77120462]])

In [89]:
data[(names=='Bob') | (names=='Wil')]

array([[0.99153224, 0.        , 0.39924962, 0.        ],
       [0.        , 2.6642927 , 1.6058912 , 0.        ]])

In [85]:
data[data<0]=0

In [86]:
data

array([[0.99153224, 0.        , 0.39924962, 0.        ],
       [1.68575798, 0.        , 0.02889007, 0.76738099],
       [0.14377199, 0.        , 0.        , 0.78525654],
       [0.        , 2.6642927 , 1.6058912 , 0.        ],
       [1.14613001, 0.        , 0.08582616, 0.        ],
       [1.18201849, 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.77120462]])

In [93]:
data[names!='Joe']=7
data

array([[ 7.        ,  7.        ,  7.        ,  7.        ],
       [ 0.40283182,  0.15697631,  0.5140281 , -0.27401563],
       [ 7.        ,  7.        ,  7.        ,  7.        ],
       [ 7.        ,  7.        ,  7.        ,  7.        ],
       [ 7.        ,  7.        ,  7.        ,  7.        ],
       [-1.50882768,  0.61958681,  0.13715418,  0.89061185],
       [-0.83363533, -0.06718823, -0.38281946,  0.46346976]])

In [94]:
arr = np.arange(32).reshape((8, 4))

In [95]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [96]:
arr[[1,5,7,2],[0,3,1,2]]

array([ 4, 23, 29, 10])

In [97]:
a =np.arange(10)
np.sqrt(a)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [98]:
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])
b = np.where(cond,xarr,yarr)
b

array([1.1, 2.2, 1.3, 1.4, 2.5])

In [102]:
print(b.mean())
print(b.sum())
print(b.std())
print(b.min())
print(b.max())

1.7
8.5
0.5477225575051662
1.1
2.5

In [103]:
cond = np.array([True, False, True, True, False])
cond.any() #any 1 or more is True

True

In [104]:
cond.all() #if all values are True

False

In [105]:
ints = np.array([3, 3, 3, 2, 2, 1, 1, 4, 4])
np.unique(ints)

array([1, 2, 3, 4])

In [107]:
np.sort(ints)

array([1, 1, 2, 2, 3, 3, 3, 4, 4])

In [109]:
obj = Series([4, 7, -5, 3])
obj.values

array([ 4,  7, -5,  3])

In [110]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [112]:
obj1 = Series([1,2,3,4],index=['a','b','c','d'])
obj1

a    1
b    2
c    3
d    4
dtype: int64

In [113]:
obj1[obj1>2]

c    3
d    4
dtype: int64

In [114]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [115]:
df = DataFrame(data)

In [116]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: 'Nevada'

In [4]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})

In [5]:
df2 = DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

In [6]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [7]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [9]:
dfm = pd.merge(df1,df2)
dfm

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [10]:
dfm = pd.merge(df1,df2,on='key')
dfm

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [11]:
df3 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})

###

In [12]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [13]:
df4 = DataFrame({'rkey': ['a', 'b', 'd'], 'data2': range(3)})

In [14]:
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [16]:
dfm = pd.merge(df3,df4,left_on='lkey',right_on='rkey')
dfm

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [17]:
dfm = pd.merge(df1,df2,how='outer')
dfm

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [5]:
from collections import Counter
from urllib.request import urlopen
book_url = 'http://www.gutenberg.org/ebooks/1342.txt.utf-8'

In [8]:
freq = Counter(urlopen(book_url).read())
len(freq)

256

In [9]:
L = [x for x in 'abracadabra' if x<'e']
L

['a', 'b', 'a', 'c', 'a', 'd', 'a', 'b', 'a']

In [10]:
from sklearn.datasets import load_iris

In [11]:
data = load_iris()

In [12]:
features = data['data']

In [13]:
target = data['target']

In [15]:
features[:10]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [19]:
features[data['target'] ==1,:]

array([[7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3]])

In [8]:
import pandas as pd
names1880 = pd.read_csv('./Names/yob1880.txt',names=['names','sex','births'])
names1880[:10]

       names sex  births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746
5   Margaret   F    1578
6        Ida   F    1472
7      Alice   F    1414
8     Bertha   F    1320
9      Sarah   F    1288

In [5]:
names1880.groupby('sex').births.sum()

sex
F     90993
M    110493
Name: births, dtype: int64

In [9]:
year = range(1880,2011)
data = []
for y in year:
    path = './Names/yob%d.txt'%y
    frame = pd.read_csv(path,names=['names','sex','births'])
    frame['year']=y
    data.append(frame)

len(data)

131

In [11]:
names = pd.concat(data, ignore_index=True)
names[names['year']==2009]

             names sex  births  year
1622344   Isabella   F   22222  2009
1622345       Emma   F   17830  2009
1622346     Olivia   F   17374  2009
1622347     Sophia   F   16869  2009
1622348        Ava   F   15826  2009
1622349      Emily   F   15295  2009
1622350    Madison   F   15181  2009
1622351    Abigail   F   14342  2009
1622352      Chloe   F   11859  2009
1622353        Mia   F   11382  2009
1622354  Elizabeth   F   10969  2009
1622355    Addison   F   10642  2009
1622356     Alexis   F    9893  2009
1622357       Ella   F    9628  2009
1622358   Samantha   F    9616  2009
1622359    Natalie   F    9378  2009
1622360      Grace   F    8279  2009
1622361       Lily   F    8066  2009
1622362     Alyssa   F    7935  2009
1622363     Ashley   F    7793  2009
1622364      Sarah   F    7725  2009
1622365     Taylor   F    7558  2009
1622366     Hannah   F    7537  2009
1622367    Brianna   F    7325  2009
1622368     Hailey   F    7295  2009
1622369     Kaylee   F    7194  2009
1622370    Lillian   F    6824  2009
1622371       Anna   F    6755  2009
1622372       Leah   F    6755  2009
1622373    Allison   F    6567  2009
...            ...  ..     ...   ...
1656916  Zecharyah   M       5  2009
1656917        Zee   M       5  2009
1656918   Zekariah   M       5  2009
1656919      Zekhi   M       5  2009
1656920       Zell   M       5  2009
1656921    Zepplin   M       5  2009
1656922     Zequan   M       5  2009
1656923     Zereon   M       5  2009
1656924     Zevion   M       5  2009
1656925       Zhen   M       5  2009
1656926     Zhyair   M       5  2009
1656927       Zien   M       5  2009
1656928       Zier   M       5  2009
1656929   Zildjian   M       5  2009
1656930        Zim   M       5  2009
1656931      Zimir   M       5  2009
1656932       Ziya   M       5  2009
1656933      Ziyun   M       5  2009
1656934     Zlatan   M       5  2009
1656935       Zoen   M       5  2009
1656936     Zubayr   M       5  2009
1656937     Zuhaib   M       5  2009
1656938      Zykee   M       5  2009
1656939     Zykell   M       5  2009
1656940      Zylar   M       5  2009
1656941  Zyquarius   M       5  2009
1656942      Zyran   M       5  2009
1656943    Zyreion   M       5  2009
1656944     Zyrian   M       5  2009
1656945     Zyvion   M       5  2009

[34602 rows x 4 columns]

Create sum of births by gender and year

In [19]:
total_births = names.pivot_table('births',index='year',columns='sex',aggfunc=sum)

In [20]:
total_births

sex         F        M
year
1880    90993   110493
1881    91955   100748
1882   107851   113687
1883   112322   104632
1884   129021   114445
1885   133056   107802
1886   144538   110785
1887   145983   101412
1888   178631   120857
1889   178369   110590
1890   190377   111026
1891   185486   101198
1892   212350   122038
1893   212908   112319
1894   222923   115775
1895   233632   117398
1896   237924   119575
1897   234199   112760
1898   258771   122703
1899   233022   106218
1900   299873   150554
1901   239351   106478
1902   264079   122660
1903   261976   119240
1904   275375   128129
1905   291641   132319
1906   295301   133159
1907   318558   146838
1908   334277   154339
1909   347191   163983
...       ...      ...
1981  1666833  1789568
1982  1692036  1812642
1983  1669486  1790670
1984  1682396  1802735
1985  1719450  1846162
1986  1714053  1839442
1987  1737508  1865113
1988  1779112  1911858
1989  1843057  1999840
1990  1897256  2052070
1991  1874110  2019018
1992  1842818  1995760
1993  1807795  1959712
1994  1784407  1930363
1995  1757240  1902100
1996  1751681  1892700
1997  1739331  1883571
1998  1765390  1909676
1999  1772139  1918267
2000  1813960  1961702
2001  1798284  1940498
2002  1794358  1938941
2003  1824406  1972439
2004  1833005  1981557
2005  1843890  1993285
2006  1896468  2050234
2007  1916888  2069242
2008  1883645  2032310
2009  1827643  1973359
2010  1759010  1898382

[131 rows x 2 columns]

In [2]:
import re

In [3]:
phoneNumberregex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')

In [11]:
number_found = phoneNumberregex.search('my nimber is 951-552-5712')
number_found.group()

'951-552-5712'

In [3]:
import numpy as np
arr = np.arange(10,100)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
       95, 96, 97, 98, 99])

In [4]:
arr1 = np.linspace(10,100,10)
arr1

array([ 10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])


if you want to generate an array from 1 to 10 # in log10 space in 100 steps...

In [5]:
arr2 = np.logspace(0,1,100,base=10.0)
arr2

array([ 1.        ,  1.02353102,  1.04761575,  1.07226722,  1.09749877,
        1.12332403,  1.149757  ,  1.17681195,  1.20450354,  1.23284674,
        1.26185688,  1.29154967,  1.32194115,  1.35304777,  1.38488637,
        1.41747416,  1.45082878,  1.48496826,  1.51991108,  1.55567614,
        1.59228279,  1.62975083,  1.66810054,  1.70735265,  1.7475284 ,
        1.78864953,  1.83073828,  1.87381742,  1.91791026,  1.96304065,
        2.009233  ,  2.05651231,  2.10490414,  2.15443469,  2.20513074,
        2.25701972,  2.3101297 ,  2.36448941,  2.42012826,  2.47707636,
        2.53536449,  2.59502421,  2.65608778,  2.71858824,  2.7825594 ,
        2.84803587,  2.91505306,  2.98364724,  3.05385551,  3.12571585,
        3.19926714,  3.27454916,  3.35160265,  3.43046929,  3.51119173,
        3.59381366,  3.67837977,  3.76493581,  3.85352859,  3.94420606,
        4.03701726,  4.1320124 ,  4.22924287,  4.32876128,  4.43062146,
        4.53487851,  4.64158883,  4.75081016,  4.86260158,  4.97702356,
        5.09413801,  5.21400829,  5.33669923,  5.46227722,  5.59081018,
        5.72236766,  5.85702082,  5.9948425 ,  6.13590727,  6.28029144,
        6.42807312,  6.57933225,  6.73415066,  6.8926121 ,  7.05480231,
        7.22080902,  7.39072203,  7.56463328,  7.74263683,  7.92482898,
        8.11130831,  8.30217568,  8.49753436,  8.69749003,  8.90215085,
        9.11162756,  9.32603347,  9.54548457,  9.77009957, 10.        ])

In [6]:
arr = np.zeros(2, dtype=int)

where i4 corresponds to a 32-bit integer, f4 corresponds to a 32-bit float, and a10 corresponds to a string 10 characters long.

In [9]:

# Creating an array of zeros and defining column types 
recarr = np.zeros((2,), dtype=('i4,f4,a10'))
toadd = [(1,2.,'Hello'),(2,3.,"World")]
recarr[:] = toadd
recarr

array([(1, 2., b'Hello'), (2, 3., b'World')],
      dtype=[('f0', '<i4'), ('f1', '<f4'), ('f2', 'S10')])

Same as above using numpy

In [10]:
# Creating an array of zeros and defining column types
recarr = np.zeros((2,), dtype=('i4,f4,a10'))
# Now creating the columns we want to put # in the recarray
col1 = np.arange(2) + 1
col2 = np.arange(2, dtype=np.float32) 
col3 = ['Hello', 'World']
# Here we create a list of tuples that is
# identical to the previous toadd list. 
toadd = zip(col1, col2, col3)
# Assigning values to recarr 
recarr[:] = toadd
recarr

TypeError: int() argument must be a string, a bytes-like object or a number, not 'zip'

In [13]:
import numpy as np
from scipy.optimize import curve_fit
# Creating a function to model and create data 
def func(x, a, b):
    return a * x +b
# Generating clean data
x = np.linspace(0,10,100)
y = func(x, 1, 2)


# Adding noise to the data
yn = y + 0.9 * np.random.normal(size=len(x))
# Executing curve_fit on noisy data 
popt, pcov = curve_fit(func, x, yn)
# popt returns the best fit values for parameters of # the given model (func).
print(popt)
print(yn)
print(y)

[1.02400664 1.92594965]
[ 2.30232765  1.02941989  1.6129737   1.03589621  2.42712366  1.55626271
  2.86728501  3.59413627  2.43339145  2.64643112  4.97072492  1.56288229
  3.14318695  4.01325727  4.07813767  2.47938674  3.98016319  5.17697106
  1.88807692  4.64796573  3.88024714  4.08270229  2.80853153  4.64811711
  5.04162897  4.76788697  3.19120063  4.03644069  4.13561802  4.32024131
  6.30760353  6.64167934  6.07346676  5.68995433  5.49546877  5.45676278
  4.96018563  4.96310709  6.93836019  5.17668238  6.21368461  4.24691194
  6.5792247   5.41407266  6.58657241  6.56379247  5.80617384  7.45944898
  6.53394541  8.10130995  6.85925571  7.11353459  7.91994563  7.15438334
  8.63811634  7.22369855  8.88786161  7.74564395  8.8121576   7.23171574
  7.53918177  8.78570566  8.49682893  9.91437104  9.83396866  8.95724395
  8.83584444  9.4952164   8.69401193 10.03936105  9.42846326  9.74430096
 10.7162075   8.67555794 10.31370672 11.07675052  9.74407081  8.51688354
 10.56907309  9.18447395 10.00862379  9.11557727 11.78327101 10.99671238
 11.03768006 11.71946107 10.19032953  9.66760342  9.48094989 11.98834055
 11.37527956 10.45520508 10.16844953 10.45049195 13.33988544 10.82981006
 11.81721707 10.4634852  12.03070066 11.96465536]
[ 2.          2.1010101   2.2020202   2.3030303   2.4040404   2.50505051
  2.60606061  2.70707071  2.80808081  2.90909091  3.01010101  3.11111111
  3.21212121  3.31313131  3.41414141  3.51515152  3.61616162  3.71717172
  3.81818182  3.91919192  4.02020202  4.12121212  4.22222222  4.32323232
  4.42424242  4.52525253  4.62626263  4.72727273  4.82828283  4.92929293
  5.03030303  5.13131313  5.23232323  5.33333333  5.43434343  5.53535354
  5.63636364  5.73737374  5.83838384  5.93939394  6.04040404  6.14141414
  6.24242424  6.34343434  6.44444444  6.54545455  6.64646465  6.74747475
  6.84848485  6.94949495  7.05050505  7.15151515  7.25252525  7.35353535
  7.45454545  7.55555556  7.65656566  7.75757576  7.85858586  7.95959596
  8.06060606  8.16161616  8.26262626  8.36363636  8.46464646  8.56565657
  8.66666667  8.76767677  8.86868687  8.96969697  9.07070707  9.17171717
  9.27272727  9.37373737  9.47474747  9.57575758  9.67676768  9.77777778
  9.87878788  9.97979798 10.08080808 10.18181818 10.28282828 10.38383838
 10.48484848 10.58585859 10.68686869 10.78787879 10.88888889 10.98989899
 11.09090909 11.19191919 11.29292929 11.39393939 11.49494949 11.5959596
 11.6969697  11.7979798  11.8989899  12.        ]

In [15]:
x = np.arange(5)
y = np.empty(5)
np.multiply(x, 10, out=y) 
print(y)

[ 0. 10. 20. 30. 40.]

In [17]:
x = np.arange(1, 6)
np.add.reduce(x)

15